:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(/images/baseballfield.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.reset-button {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  padding: 0 0.5rem 0 0.5rem;
}

h6 {
  padding: 0 0.5rem 0 0.5rem;
}

.no-winner {
  display: none;
}

.winner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  color: yellow;
}

.winning-team {
  color: yellow;
  font-weight: bold;
}

.inning-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.number-and-side {
  display: flex;
  flex-direction: row;
}

.score-area {
  display: flex;
  justify-content: space-around;
}

.score-area p {
  font-size: 3rem;
}

.update-score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.update-score .team-name {
  display: flex;
  flex-direction: row;
}

.update-score section {
  margin: 1.5rem;
}

.team-name {
  height: 1.5rem;
}

.disabled-button {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (min-width: 700px) {
  .update-score {
    flex-direction: row;
    justify-content: center;
  }
}
